

<ion-content class="flexBox">

  <div class="center">
    <img src="../../assets/init/1438639384.png" alt="">
  </div>
    
    
    
    <h1 class="center">Control de Asistencia</h1>
    
    
    <div class="container">
     
    
    
      <div class="row center">
        <div class="col-md-12">
          <button type="button" class="btn btn-outline-secondary" (click)="goToControlPanel1()">
            <ion-icon name="person-circle-outline"></ion-icon>  Alumno</button>
        </div>
      </div>


      <div class="row center">
        <div class="col-md-12">
          <button type="button" class="btn btn-outline-secondary" (click)="goToControlPanel2()">
           <ion-icon name="person-circle-outline"></ion-icon> Catedrático</button>
        </div>
      </div>


    
    </div>
    
    

    
    </ion-content>
    