<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">

    <div class="row">
      <h3 class="right">
        <br> {{nombre}} {{apellido}}  </h3>
    </div>

    <div class="row">
      <h5 class="center">
        <br> {{courseName}}  </h5>
    </div>

    <br>

    <div class="mb-3">
      <label class="form-label">Fecha:</label>
      <input type="date" [(ngModel)]="date" class="form-control"> 
    </div>

</div>

<br>

<div class="row center">
  <div class="col-md-12">
    <button type="button" class="btn btn-outline-secondary" (click)="toFetchDate()">Enviar</button>
  </div>
</div>

</ion-content>
