<ion-header>
  <ion-toolbar>
    <!-- <button class="btn btn-outline-info" style="width: 25%;float: left;">Settings</button> -->
    <ion-title>Mis Cursos
      <button class="btn btn-outline-danger" style="width: 25%;float: right;" (click)="logOut()">LogOut</button>
    </ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="container">


    <div class="row">
      <h3 class="right">
        <br> {{nombre}} {{apellido}}   
      </h3>
    </div>

    <h5 class="center">Mis Cursos</h5>



    <div *ngFor="let c of courses" class="col-md-12">
      <br>
      <button type="button" class="btn btn-outline-secondary" (click)="toFetchDate(c.id_curso, c.nombre_curso)"> {{c.nombre_curso}}</button>
    </div>

</div>



</ion-content>
